.header {
    /*background-color: rgba(65, 58, 58, 0.025);
    border: 1px solid rgba(255, 255, 255, 0.5); 
    */
    box-shadow: 0 0 1px rgba(129, 129, 129, 0.253);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 999;
    width: calc(100% - 20px);
    margin-inline: 10px;
    margin-top: 10px;
    padding: 10px;
}

.header button {
    border-radius: 25px;
}